.new-time-stats {
  padding: 1rem;
  width: fit-content;
  height: fit-content;
}

.dive-stat {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  line-height: 28px;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
