<main>
  <div class="dive-plan-section">
    <div class="dive-plan-list-section">
      <mat-selection-list class="mat-elevation-z2">
        <mat-list-item *ngFor="let planEvent of planEvents">
          <span matListItemTitle>
            <mat-icon class="segment-icon">{{ planEvent.Icon }}</mat-icon>
            {{ planEvent.StartTimestamp | colonDuration }} {{ planEvent.Title }}
          </span>
          <span matListItemLine [innerHTML]="planEvent.Description" class="segment-description"></span>
        </mat-list-item>
      </mat-selection-list>
      <button mat-fab color="primary" routerLink="/add-dive-segment" class="add-segment-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="dive-stats mat-elevation-z2">
      <div class="dive-stat">
        Dive Duration:
        <strong>{{ divePlanner.getDiveDuration() | humanDuration }}</strong>
      </div>
      <div class="dive-stat">
        Max Depth:
        <strong>{{ divePlanner.getMaxDepth() }}m</strong>
      </div>
      <div class="dive-stat">
        Average Depth:
        <strong>{{ divePlanner.getAverageDepth() | number: '1.0-0' }}m</strong>
      </div>
    </div>
  </div>
  <div class="graphs">
    <div class="errors">
      <div class="plan-error" *ngIf="showCeilingError()">
        <mat-icon>error</mat-icon>
        <strong class="error-message">
          Exceeded ceiling by up to {{ getCeilingErrorAmount() | number: '1.1-1' }}m for {{ getCeilingErrorDuration() | humanDuration }}
        </strong>
      </div>
      <div class="plan-error" *ngIf="showPO2Error()">
        <mat-icon>error</mat-icon>
        <strong class="error-message">
          Exceeded safe PO2 for {{ getPO2ErrorDuration() | humanDuration }}, up to PO2 = {{ getPO2ErrorAmount() | number: '1.2-2' }}
        </strong>
      </div>
      <div class="plan-error" *ngIf="showHypoxicError()">
        <mat-icon>error</mat-icon>
        <strong class="error-message">
          Hypoxic gas as low as {{ getHypoxicErrorAmount() | number: '1.3-3' }} for {{ getHypoxicErrorDuration() | humanDuration }}
        </strong>
      </div>
      <div class="plan-error" *ngIf="showENDError()">
        <mat-icon>error</mat-icon>
        <strong class="error-message">
          <!-- eslint-disable-next-line prettier/prettier -->
          END as deep as {{ getENDErrorAmount() | number: '1.1-1' }}m for {{ getENDErrorDuration() | humanDuration }}
        </strong>
      </div>
    </div>
    <div class="graph mat-elevation-z2">
      <div id="depth-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
    <div class="graph mat-elevation-z2">
      <div id="po2-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
    <div class="graph mat-elevation-z2">
      <div id="end-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
    <div class="graph mat-elevation-z2">
      <div id="tissues-ceiling-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
    <div class="graph mat-elevation-z2">
      <div id="tissues-pn2-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
    <div class="graph mat-elevation-z2">
      <div id="tissues-phe-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
  </div>
</main>
