@mixin dive-plan-theme($theme) {
  $color: map-get($theme, color);
  $background: map-get($color, background);
  $warn: map-get($color, warn);

  mat-list {
    background-color: map-get($background, card);
  }

  .graph {
    background-color: map-get($background, card);
  }

  .dive-stats {
    background-color: map-get($background, card);
  }

  .plan-error {
    border-color: map-get($warn, error);
    color: map-get($warn, error);
  }
}
