<main>
  <div class="dive-plan-section">
    <div class="dive-plan-list-section">
      <mat-selection-list class="mat-elevation-z2">
        <mat-list-item *ngFor="let planEvent of planEvents">
          <span matListItemTitle>{{ planEvent.StartTimestamp | colonDuration }} {{ planEvent.Title }}</span>
          <span matListItemLine [innerHTML]="planEvent.Description"></span>
        </mat-list-item>
      </mat-selection-list>
      <button mat-fab color="primary" routerLink="/add-dive-segment" class="add-segment-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="dive-stats mat-elevation-z2">
      <div class="dive-stat">
        Dive Duration:
        <strong>{{ divePlanner.getDiveDuration() | humanDuration }}</strong>
      </div>
      <div class="dive-stat">
        Max Depth:
        <strong>{{ divePlanner.getMaxDepth() }}m</strong>
      </div>
      <div class="dive-stat">
        Average Depth:
        <strong>{{ divePlanner.getAverageDepth() | number: '1.0-0' }}m</strong>
      </div>
    </div>
    <div class="errors">
      <div class="plan-error" *ngIf="false">
        <mat-icon>error</mat-icon>
        <strong class="error-message">Exceeded ceiling by up to 34.2m for 3 min 12 sec</strong>
      </div>
    </div>
  </div>
  <div class="graphs">
    <div class="graph mat-elevation-z2">
      <div id="depth-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
    <div class="graph mat-elevation-z2">
      <div id="po2-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </div>
    <div class="graph mat-elevation-z2">Create dive segements to populate graphs</div>
  </div>
</main>
