@mixin dive-overview-theme($theme) {
  $color: map-get($theme, color);
  $background: map-get($color, background);
  $warn: map-get($color, warn);

  mat-list {
    background-color: map-get($background, card);
  }
}
