mat-radio-group {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

mat-form-field {
  width: 8rem;
  display: block;
}

.standard-gas, .custom-gas, .summary-data {
  padding: 2rem;
}

.custom-gas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-button {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.gas-calculations {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
}

.save-section {
  display: flex;
  justify-content: right;
}

.custom-gas-col, .standard-gas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .tooltip-multiline {
  white-space: pre-line;
}

.gas-calc {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.mat-icon {
  font-size: 1.4em;
  height: auto;
  width: auto;
}

.settings-input {
  width: 200px;
}

.dive-settings {
  padding: 1.5rem;
  margin-top: 3rem;
}

.dive-settings-row {
  display: flex;
}

.dive-settings-col {
  margin: 1rem;
}

.toggle-label {
  padding: 1rem;
}

mat-slide-toggle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
