@mixin new-dive-theme($theme) {
  $color: map-get($theme, color);
  $accent: map-get($color, accent);
  $warn: map-get($color, warn);
  $background: map-get($color, background);

  mat-selection-list {
    background-color: map-get($background, card);
  }

  .gas-calculations {
    background-color: map-get($background, card);
  }

  .mat-icon.error {
    color: map-get($warn, 500);
  }

  mat-list-option[aria-selected="true"] {
    background: map-get($accent, 100) !important;
  }
}
