@mixin new-dive-theme($theme) {
  $color: map-get($theme, color);
  $warn: map-get($color, warn);
  $background: map-get($color, background);

  .gas-calculations, .dive-settings {
    background-color: map-get($background, card);
  }

  .mat-icon.error {
    color: map-get($warn, error);
  }
}
