<main>
  <header>
    <h1 id="select-starting-gas-heading">Select the starting gas for the dive</h1>
  </header>
  <mat-radio-group aria-labelledby="select-starting-gas-heading" [(ngModel)]="gasType">
    <div class="standard-gas">
      <div class="radio-button">
        <mat-radio-button name="gasType" value="standard">Standard gas</mat-radio-button>
      </div>
      <mat-selection-list
        [multiple]="false"
        hideSingleSelectionIndicator
        (selectionChange)="onStandardGasChange($event)"
        [disabled]="getStandardGasDisabled()"
        class="mat-elevation-z2">
        <mat-list-option
          *ngFor="let gas of standardGases"
          [value]="gas"
          [selected]="gas === selectedStandardGas"
          matTooltipClass="tooltip-multiline tooltip-wide"
          matTooltipPosition="left"
          [matTooltip]="getGasTooltip(gas)">
          <span matListItemTitle>{{ gas.Name }}</span>
          <span matListItemLine [innerHTML]="gas.CompositionDescription"></span>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="custom-gas-col">
      <div class="custom-gas">
        <div class="radio-button">
          <mat-radio-button value="custom">Custom gas</mat-radio-button>
        </div>
        <div class="custom-gas-inputs">
          <mat-form-field>
            <mat-label>Oxygen (%)</mat-label>
            <input matInput type="number" min="0" max="100" [(ngModel)]="customGas.Oxygen" (input)="onOxygenInput()" [disabled]="getCustomGasDisabled()" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Helium (%)</mat-label>
            <input matInput type="number" min="0" max="100" [(ngModel)]="customGas.Helium" (input)="onHeliumInput()" [disabled]="getCustomGasDisabled()" />
          </mat-form-field>
          <mat-form-field matTooltip="The nitrogen value will be automatically calculated when you input the values for oxygen and helium">
            <mat-label>Nitrogen (%)</mat-label>
            <input matInput type="number" [(ngModel)]="customGas.Nitrogen" disabled />
          </mat-form-field>
        </div>
      </div>
      <div class="dive-settings mat-elevation-z2">
        <h2>
          <mat-icon>settings</mat-icon>
          Dive Settings
        </h2>
        <div class="dive-settings-row">
          <div class="dive-settings-col">
            <mat-form-field
              class="settings-input"
              matTooltip="The maximum oxygen partial pressure during the working (i.e. non-deco) part of the dive. If any part of the dive plan exceeds this a warning will be shown. Default: 1.4"
              matTooltipPosition="right">
              <mat-label>Working PO2 Maximum</mat-label>
              <input matInput type="number" step=".1" [(ngModel)]="workingPO2Maximum" (input)="onWorkingPO2MaximumInput()" />
            </mat-form-field>
            <mat-form-field
              class="settings-input"
              matTooltip="The maximum oxygen partial pressure acceptable during deco stops. If any part of the dive plan exceeds this an error will be shown. Default: 1.6"
              matTooltipPosition="right">
              <mat-label>Deco PO2 Maximum</mat-label>
              <input matInput type="number" step=".1" [(ngModel)]="decoPO2Maximum" (input)="onDecoPO2MaximumInput()" />
            </mat-form-field>
            <mat-form-field
              class="settings-input"
              matTooltip="The minimum acceptable oxygen partial pressure. This is applicable when breathing hypoxic mixtures. Default: 0.18"
              matTooltipPosition="right">
              <mat-label>Minimum PO2</mat-label>
              <input matInput type="number" step=".01" [(ngModel)]="pO2Minimum" (input)="onPO2MinimumInput()" />
            </mat-form-field>
            <mat-form-field
              class="settings-input"
              matTooltip="If the equivalent narcotic depth (air) exceeds this value an error will be shown. Default: 30m"
              matTooltipPosition="right">
              <mat-label>Maximum END (m)</mat-label>
              <input matInput type="number" [(ngModel)]="ENDErrorThreshold" (input)="onENDErrorThresholdInput()" />
            </mat-form-field>
          </div>
          <div class="dive-settings-col">
            <mat-form-field class="settings-input">
              <mat-label>Descent Rate (m/min)</mat-label>
              <input matInput type="number" min="1" [(ngModel)]="descentRate" (input)="onDescentRateInput()" />
            </mat-form-field>
            <mat-form-field class="settings-input">
              <mat-label>Ascent Rate (m/min)</mat-label>
              <input matInput type="number" min="1" [(ngModel)]="ascentRate" (input)="onAscentRateInput()" />
            </mat-form-field>
            <mat-slide-toggle
              [(ngModel)]="isOxygenNarcotic"
              (change)="onOxygenNarcoticChange()"
              matTooltip="If this is turned off only the Nitrogen content will be considered when calculating the equivalent narcotic depth (END). If enabled both Oxygen and Nitrogen will be included. Default: On"
              matTooltipPosition="right">
              <span class="toggle-label">Is Oxygen Narcotic?</span>
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <div class="summary-data">
      <div class="gas-calculations mat-elevation-z2">
        <div class="gas-calc" [matTooltip]="divePlanner.settings.MaxDepthPO2Tooltip" matTooltipPosition="right">
          <!-- eslint-disable-next-line prettier/prettier -->
          Max Depth (PO<sub>2</sub>):
          <strong>{{ getSelectedGas().MaxDepthPO2 }}m ({{ getSelectedGas().MaxDepthPO2Deco }}m deco)</strong>
        </div>
        <div class="gas-calc" [matTooltip]="divePlanner.settings.MaxDepthENDTooltip" matTooltipPosition="right">
          Max Depth (END):
          <strong>{{ getSelectedGas().MaxDepthEND }}m</strong>
        </div>
        <div class="gas-calc">
          <span [matTooltip]="divePlanner.settings.MinDepthTooltip" matTooltipPosition="below">
            Min Depth (Hypoxia):
            <strong>{{ getSelectedGas().MinDepth }}m</strong>
          </span>
          <mat-icon [class.hidden]="!isMinDepthError()" class="error" matTooltip="This gas cannot be breathed at the surface due to the hypoxic oxygen content">
            error
          </mat-icon>
        </div>
      </div>
      <div class="save-section">
        <button mat-flat-button color="primary" (click)="onSave()">Save</button>
      </div>
    </div>
  </mat-radio-group>
</main>
