.add-segment-button {
  align-self: flex-end;
}

.add-segment-button {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

mat-list {
  width: fit-content;
}

.dive-plan-list-section {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.segment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

mat-selection-list {
  padding: 0px;
}

.segment-icon {
  padding-right: 0.5rem;
}

.segment-description {
  padding-left: 2.3rem;
}
