@use 'sass:map';

@mixin new-time-stats-theme($theme) {
  $color: map.get($theme, color);
  $background: map.get($color, background);

  .new-time-stats {
    background-color: map.get($background, card);
  }
}
