/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tooltip-wide .mdc-tooltip__surface {
  max-width: unset;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

.mat-icon {
  vertical-align: middle;
}

.hidden {
  display: none !important;
}
