@mixin dive-summary-theme($theme) {
  $color: map-get($theme, color);
  $background: map-get($color, background);
  $warn: map-get($color, warn);

  .dive-stats {
    background-color: map-get($background, card);
  }
}
