mat-form-field {
  width: 8rem;
  display: block;
}

mat-icon {
  font-size: 1.4em;
  height: auto;
  width: auto;
}

.settings-input {
  width: 200px;
}

.dive-settings {
  padding: 1.5rem;
}

.dive-settings-row {
  display: flex;
}

.dive-settings-col {
  margin: 1rem;
}

.toggle-label {
  padding: 1rem;
}

mat-slide-toggle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
