.plan-error {
  border-width: 2px;
  border-style: solid;
  padding: 0.3rem;
  margin-bottom: 1rem;
  width: fit-content;
}

.errors {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
