main {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

dive-current-stats, dive-new-gas-input, dive-new-gas-stats {
  margin-top: 1rem;
  margin-left: 1rem;
  width: fit-content;
  height: fit-content;
  display: flex;
}

h1 {
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.actions {
  margin-left: 1rem;
  margin-top: 2rem;
}

button {
  margin-right: 1rem;
}
