<main>
  <div class="dive-plan-section">
    <dive-dive-plan></dive-dive-plan>
    <dive-dive-summary></dive-dive-summary>
  </div>
  <div class="graphs">
    <dive-error-list></dive-error-list>
    <dive-depth-chart></dive-depth-chart>
    <dive-po2-chart></dive-po2-chart>

    <button (click)="onTissuesCeilingChartClick()" class="graph mat-elevation-z2">
      <div id="tissues-ceiling-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </button>
    <button (click)="onTissuesPN2ChartClick()" class="graph mat-elevation-z2">
      <div id="tissues-pn2-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </button>
    <button (click)="onTissuesPHeChartClick()" class="graph mat-elevation-z2">
      <div id="tissues-phe-chart" class="plotly-graph" [class]="getGraphClass()"></div>
      <div *ngIf="!getShowGraphs()">Create dive segements to populate graphs</div>
    </button>
  </div>
</main>
