main {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 6rem;
}

dive-current-stats, dive-new-depth-stats, dive-new-gas-input, dive-new-gas-stats, dive-new-time-stats, dive-ceiling-chart {
  margin-top: 1rem;
  margin-left: 1rem;
  width: fit-content;
  height: fit-content;
  display: flex;
}

.nav-line-container {
  position: relative;
  height: 0;
  width: 0;
}

.nav-number {
  margin-left: -70px;
  margin-top: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  font-weight: bold;
}

.nav-line-1 {
  position: absolute;
  width: 6px;
  height: 180px;
  top: 380px;
  left: -38px;
}

.nav-line-2 {
  position: absolute;
  width: 6px;
  height: 380px;
  top: 600px;
  left: -38px;
}

.new-depth-row, .time-at-depth-row {
  display: flex;
}

.header-row {
  display: flex;
}

h1 {
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.input-section {
  margin-top: 1rem;
  margin-left: 1rem;
  width: fit-content;
  border-style: solid;
  border-width: 4px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: fit-content;
}

.depth-input {
  padding-bottom: 0;
  padding-top: 1rem;
  width: 10rem;
}

.time-input {
  padding-bottom: 0;
  padding-top: 1rem;
  width: 13rem;
}

.actions {
  margin-left: 1rem;
  margin-top: 2rem;
}

button {
  margin-right: 1rem;
}
