<main>
  <div class="main-content">
    <div class="nav-line-container">
      <div class="nav-line-1"></div>
      <div class="nav-line-2"></div>
    </div>
    <dive-current-stats class="mat-elevation-z2"></dive-current-stats>
    <div class="header-row">
      <div class="nav-number">1</div>
      <h1>Select new depth</h1>
    </div>
    <div class="new-depth-row">
      <div class="input-section mat-elevation-z2">
        <mat-form-field class="depth-input">
          <mat-label>New Depth (m)</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="newDepth" />
        </mat-form-field>
      </div>
      <dive-new-depth-stats class="mat-elevation-z2" [newDepth]="newDepth"></dive-new-depth-stats>
    </div>
    <div class="header-row">
      <div class="nav-number">2</div>
      <h1>Select new gas</h1>
    </div>
    <dive-new-gas-input (newGasSelected)="onNewGasSelected($event)" [newDepth]="newDepth" class="mat-elevation-z2"></dive-new-gas-input>
    <dive-new-gas-stats class="mat-elevation-z2" [newGas]="newGas" [newDepth]="newDepth"></dive-new-gas-stats>
    <div class="header-row">
      <div class="nav-number">3</div>
      <h1>Select time at depth</h1>
    </div>
    <div class="time-at-depth-row">
      <div class="time-input-col">
        <div class="input-section mat-elevation-z2">
          <mat-form-field class="time-input">
            <mat-label>Time at Depth (mins)</mat-label>
            <input matInput type="number" [(ngModel)]="timeAtDepth" />
          </mat-form-field>
        </div>
        <dive-new-time-stats class="mat-elevation-z2" [timeAtDepth]="timeAtDepth" [newDepth]="newDepth" [newGas]="newGas"></dive-new-time-stats>
      </div>
      <dive-ceiling-chart class="mat-elevation-z2" [newDepth]="newDepth" [newGas]="newGas" [timeAtDepth]="timeAtDepth"></dive-ceiling-chart>
    </div>
    <div class="actions">
      <button mat-flat-button color="primary" (click)="onSave()">Save</button>
      <button mat-stroked-button color="secondary" routerLink="/dive-overview">Cancel</button>
    </div>
  </div>
</main>
