<main>
  <div class="calculation-section mat-elevation-z2">
    <div class="dive-stat">
      Current Depth:
      <strong>{{ divePlanner.getCurrentDepth() }}m</strong>
    </div>
    <div
      class="dive-stat"
      matTooltip="If you have no deco obligations so far this will be 0. Otherwise it is the minimum depth you can safely ascend directly to."
      matTooltipPosition="right">
      Current Ceiling:
      <strong>{{ divePlanner.getCurrentCeiling() }}m</strong>
    </div>
    <div class="dive-stat">
      Current Gas:
      <strong [innerHTML]="divePlanner.getCurrentGas().getDescription()"></strong>
    </div>
    <div
      class="gas-stat dive-stat"
      matTooltip="Maximum depth this gas can be breathed at without going over an oxygen partial pressure of 1.4 (1.6 for deco stops)"
      matTooltipPosition="right">
      <!-- eslint-disable-next-line prettier/prettier -->
      Max Depth (PO<sub>2</sub>):
      <strong>{{ divePlanner.getCurrentGas().getMaxDepthPO2() }}m ({{ divePlanner.getCurrentGas().getMaxDepthPO2Deco() }}m deco)</strong>
    </div>
    <div
      class="gas-stat dive-stat"
      matTooltip="Maximum depth this gas can be breathed at before you experience nitrogen narcosis equivalent to 40m on air"
      matTooltipPosition="right">
      Max Depth (END):
      <strong>{{ divePlanner.getCurrentGas().getMaxDepthEND() }}m</strong>
    </div>
    <div
      class="gas-stat dive-stat"
      matTooltip="Minimum depth this gas can be breathed at without going below an oxygen partial pressure of 0.18"
      matTooltipPosition="right">
      Min Depth (Hypoxia):
      <strong>{{ divePlanner.getCurrentGas().getMinDepth() }}m</strong>
    </div>
  </div>
  <h1>Select new depth</h1>
  <div class="new-depth-row">
    <div class="input-section mat-elevation-z2">
      <mat-form-field class="depth-input">
        <mat-label>New Depth (m)</mat-label>
        <input matInput type="number" min="0" [(ngModel)]="newDepth" (change)="calculateNewDepthData()" />
      </mat-form-field>
    </div>
    <div class="calculation-section mat-elevation-z2">
      <div class="dive-stat" *ngIf="descentTime !== undefined">
        Descent Time:
        <strong>{{ descentTime | humanDuration }} @ 20m/min</strong>
      </div>
      <div class="dive-stat" *ngIf="ascentTime !== undefined">
        Ascent Time:
        <strong>{{ ascentTime | humanDuration }} @ 10m/min</strong>
      </div>
      <div class="dive-stat" matTooltip="Oxygen partial pressure of the current gas at the new depth" matTooltipPosition="right">
        <!-- eslint-disable-next-line prettier/prettier -->
        PO<sub>2</sub>:
        <strong>{{ newDepthPO2 | number: '1.2-2' }}</strong>
      </div>
      <div class="dive-stat" matTooltip="Equivalent narcotic depth of the current gas at the new depth" matTooltipPosition="right">
        END:
        <strong>{{ newDepthEND }}m</strong>
      </div>
    </div>
  </div>
  <h1>Select new gas</h1>
  <mat-radio-group [(ngModel)]="newGasSelectedOption" (change)="calculateNewGas()">
    <div class="new-gas-row input-section mat-elevation-z2">
      <div class="new-gas-col">
        <mat-radio-button value="current">
          <div>Current Gas</div>
          <div class="gas-description" [innerHTML]="divePlanner.getCurrentGas().getDescription()"></div>
        </mat-radio-button>
      </div>
      <div class="new-gas-col">
        <div>
          <mat-radio-button value="standard">
            <div>Standard Gas</div>
          </mat-radio-button>
        </div>
        <div>
          <mat-form-field>
            <mat-select [(ngModel)]="standardGas" hideSingleSelectionIndicator (selectionChange)="calculateNewGas()" [disabled]="getStandardGasDisabled()">
              <mat-select-trigger>
                <div>{{ standardGas?.Name }}</div>
                <div class="gas-description" [innerHTML]="standardGas?.getCompositionDescription()"></div>
              </mat-select-trigger>
              <mat-option *ngFor="let gas of divePlanner.getStandardGases()" [value]="gas">
                <div>{{ gas.Name }}</div>
                <div class="gas-description" [innerHTML]="gas.getCompositionDescription()"></div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="new-gas-col">
        <mat-radio-button value="custom">Custom gas</mat-radio-button>
        <div>
          <mat-form-field class="custom-gas-input">
            <mat-label>Oxygen (%)</mat-label>
            <input
              matInput
              type="number"
              min="0"
              max="100"
              [(ngModel)]="customGas.Oxygen"
              (change)="updateCustomGasNitrogen()"
              [disabled]="getCustomGasDisabled()" />
          </mat-form-field>
          <mat-form-field class="custom-gas-input">
            <mat-label>Helium (%)</mat-label>
            <input
              matInput
              type="number"
              min="0"
              max="100"
              [(ngModel)]="customGas.Helium"
              (change)="updateCustomGasNitrogen()"
              [disabled]="getCustomGasDisabled()" />
          </mat-form-field>
          <mat-form-field
            class="custom-gas-input"
            matTooltip="The nitrogen value will be automatically calculated when you input the values for oxygen and helium">
            <mat-label>Nitrogen (%)</mat-label>
            <input matInput type="number" [ngModel]="customGas.Nitrogen" disabled />
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-radio-group>
  <div class="gas-calculation-section calculation-section mat-elevation-z2">
    <div class="gas-calculation-chunk">
      <div class="dive-stat" matTooltip="Oxygen partial pressure of the new gas at the new depth" matTooltipPosition="right">
        <!-- eslint-disable-next-line prettier/prettier -->
        PO<sub>2</sub>:
        <strong>{{ newGas.getPO2(newDepth) | number: '1.2-2' }}m</strong>
      </div>
      <div class="dive-stat" matTooltip="Equivalent narcotic depth of the new gas at the new depth" matTooltipPosition="right">
        END:
        <strong>{{ newGas.getEND(newDepth) }}m</strong>
      </div>
      <div
        class="dive-stat"
        matTooltip="The amount of time you can stay at the new depth on the new gas and safely ascend directly to the surface"
        matTooltipPosition="below">
        No Deco Limit:
        <strong>{{ divePlanner.getNoDecoLimit(newDepth, newGas) | humanDuration }}</strong>
      </div>
    </div>
    <div class="gas-calculation-chunk">
      <div
        class="dive-stat"
        matTooltip="Maximum depth the new gas can be breathed at without going over an oxygen partial pressure of 1.4 (1.6 for deco stops)"
        matTooltipPosition="right">
        <!-- eslint-disable-next-line prettier/prettier -->
        Max Depth (PO<sub>2</sub>):
        <strong>{{ newGas.getMaxDepthPO2() }}m ({{ newGas.getMaxDepthPO2Deco() }}m deco)</strong>
      </div>
      <div
        class="dive-stat"
        matTooltip="Maximum depth the new gas can be breathed at before you experience nitrogen narcosis equivalent to 40m on air"
        matTooltipPosition="right">
        Max Depth (END):
        <strong>{{ newGas.getMaxDepthEND() }}m</strong>
      </div>
      <div
        class="dive-stat"
        matTooltip="Minimum depth the new gas can be breathed at without going below an oxygen partial pressure of 0.18"
        matTooltipPosition="below">
        Min Depth (Hypoxia):
        <strong>{{ newGas.getMinDepth() }}m</strong>
      </div>
    </div>
  </div>
  <h1>Select time at depth</h1>
  <div class="time-at-depth-row">
    <div class="input-section mat-elevation-z2">
      <mat-form-field class="time-input">
        <mat-label>Time at Depth (mins)</mat-label>
        <input matInput type="number" [(ngModel)]="timeAtDepth" />
      </mat-form-field>
    </div>
    <div class="ceiling-graph"></div>
  </div>
  <div class="actions">
    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
    <button mat-stroked-button color="secondary" routerLink="/dive-plan">Cancel</button>
  </div>
</main>
