.calculation-section {
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: fit-content;
  height: fit-content;
}

dive-current-stats, dive-new-depth-stats {
  margin-top: 1rem;
  margin-left: 1rem;
  width: fit-content;
  height: fit-content;
}

main {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 6rem;
}

.nav-line-container {
  position: relative;
  height: 0;
  width: 0;
}

.dive-stat, .gas-stat {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  line-height: 28px; // this is needed because mat-icons are 24x24 (not sure why it needs to be 28 instead of 24 though)
}

.gas-stat {
  padding-left: 2rem;
}

.new-depth-row, .new-gas-row, .time-at-depth-row {
  display: flex;
}

.input-section {
  margin-top: 1rem;
  margin-left: 1rem;
  width: fit-content;
  border-style: solid;
  border-width: 4px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: fit-content;
}

.depth-input {
  padding-bottom: 0;
  padding-top: 1rem;
  width: 10rem;
}

h1 {
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.custom-gas-input {
  width: 8rem;
}

.new-gas-row {
  padding: 1rem;
}

.new-gas-col {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.gas-description {
  font-size: 0.8rem;
}

.gas-calculation-section {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.gas-calculation-chunk {
  padding-right: 0rem;
}

.time-input {
  padding-bottom: 0;
  padding-top: 1rem;
  width: 13rem;
}

.actions {
  margin-left: 1rem;
  margin-top: 2rem;
}

button {
  margin-right: 1rem;
}

mat-select {
  height: 50px;
}

.warning-icon {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.error-icon {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.nav-number {
  margin-left: -70px;
  margin-top: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  font-weight: bold;
}

.header-row {
  display: flex;
}

.nav-line-1 {
  position: absolute;
  width: 6px;
  height: 180px;
  top: 380px;
  left: -38px;
}

.nav-line-2 {
  position: absolute;
  width: 6px;
  height: 380px;
  top: 600px;
  left: -38px;
}

.plotly-graph {
  width: 100%;
  height: 100%;
}

.ceiling-chart {
  width: 400px;
  height: 200px;
}

#optimal-deco-gas-radio {
  margin-top: 1rem;
  width: 260px;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
